    body {
      background: #00d1ff no-repeat center center fixed !important;
    }
    img {
      margin-right: 80px;
      object-fit: cover;
    }
    h2 {
      font: 25px Calibre;
      font-weight: bold;
    }
    h3 {
      font: 17px Calibre;
    }
    p {
      font: 20px Calibre;
    }
    .news_title p{
      border-top: 2px solid #8f8f8f;
      padding-top: 20px;
      font-size: 40px;
      font-weight: bold;
    }
    .news_block {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 29%;
      min-width: 29%;
      margin: 10px;
      padding: 10px;
      display: inline-block;
      zoom: 1;
      margin-top: 50px;
      border-radius: 20px;
      background: white;
    }
    .show_content {
      display: flex;
      justify-content: flex-end;
      color: blue;
      margin-bottom: 10px;
    }
    .photo_block {
      height: 300px;
    }
    #title_class {
      font: 40px "Segoe UI Black";
    }
    #teacher {
      font: 20px "Segoe UI";
    }
    .main_news_image {
      display: flex;
      justify-content: center;
    }
    .news_container {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
    }