.main_content {
  font-size: 22px;
}
.info_name {
  font-size: 22px;
  font-weight: bold;
  padding-right: 20px;
}
.info_comment {
  display: flex;
  align-items: center;
}
.text_comment {
  font-size: 18px;
}
.full_comment {
  background: #00d1ff;
  border: solid 0.5px #ffffff;
  border-radius: 8px;
  margin-bottom: 5px;
  padding-left: 3px;
}
.full_comment p {
  color: black;
}
.news_image {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.news_image img{
  max-width: 900px;
  max-height: 700px;
}
.make_comment {
  height: auto;
}