<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_base.css') }}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/boostrap.min.css') }}">
    <title>{{title}}</title>
</head>
<body>
<header>
    <div class="category-wrap">
        <ul>
            <li><a href="/" class="menu" id="menu_title">Гимназия</a></li>
            <li><a href="/classes" class="menu">Классы</a></li>
            <li><a href="/surveys" class="menu">Опросы</a></li>
        </ul>
    </div>
    <div class="main_image">
        <img src="{{ url_for('static', filename='image/main_page_7.png') }}">
    </div>
    <nav class="navbar_navbar-light_bg-light">
	{% if current_user.is_authenticated %}
    		<a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
	{% else %}
    		<p>
        	<a class="btn btn-primary" href="/register">Зарегистрироваться</a>
        	<a class="btn btn-success" href="/login">Войти</a>
    		</p>
    {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="main_container">
    {% block content %}{% endblock %}
</main>
</body>
</html>