{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_one_news.css') }}">
<div>
{% for item in news%}
  <div>
      <p class="main_content">{{item.content}}</p>
  </div>
  <div class="news_image">
      <img src="{{url_for('static', filename = item.photo ) }}" onerror="this.style.visibility = 'hidden'">
  </div>
  {% endfor %}
  <form action="" method="post">
      {{ form.hidden_tag() }}
  <p class="make_comment">
      {{ form.content.label }}<br>
      {{ form.content(class="form-control") }}<br>
      {% for error in form.content.errors %}
          <p class="alert alert-danger" role="alert">
              {{ error }}
          </p>
      {% endfor %}
  </p>
  <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
  {% for item in comments%}
      <div class="full_comment">
          <div class="info_comment">
              <p class="info_name">{{item.user_name}}</p>
              <p>{{item.created_date.strftime('%d-%m-%Y %H:%M')}}</p>
          </div>
          <div>
              <p class="text_comment">{{item.content}}</p>
          </div>
      </div>
   {% endfor %}
  </form>
</div>
{% endblock %}