    body {
      background: #00d1ff no-repeat center center fixed !important;
    }
    img {
      margin-right: 80px;
      object-fit: cover;
    }
    h2 {
      font: 25px Calibre;
      font-weight: bold;
    }
    h3 {
      font: 17px Calibre;
    }
    p {
      font: 20px Calibre;
    }
    .news_title p{
      border-top: 2px solid #eaeaea;
      padding-top: 20px;
      font-size: 40px;
      font-weight: bold;
    }
    .news_container {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
    .block_news {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .news_block {
      width: 31.5%;
      min-width: 31.5%;
      height: 500px;
      margin: 10px;
      padding: 10px;
      zoom: 1;
      margin-top: 35px;
      border-radius: 10px;
      background: white;
    }
    .show_content {
      display: flex;
      justify-content: flex-end;
      color: blue;
      margin-bottom: 10px;
    }
    .photo_block {
      height: 300px;
    }
    .content_block {
      height: 71px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .welcome {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
      font: "Segoe UI Light";
      font-size: 40px;
      color: #eaeaea;
      font-weight: bold;
      margin-left: auto;
      margin-right: auto;
    }
    .welcome_box {
      padding-top: 180px;
      padding-bottom: 100px;
      display: flex;
      justify-content: center;
      background-image: url("../image/main_page_7.png");
    }
    .map_box {
      display: flex;
      max-height: 500px;
      margin-bottom: 50px;
    }
    .map_box p{
      line-height: 25px;
      text-align: center;
      font-size: 32px;
      font-family: "Segoe UI Black";
      color: white;
    }
    .map_content {
      width: 30%;
    }
    #title_class {
      font: 40px "Segoe UI Black";
    }
    #teacher {
      font: 20px "Segoe UI";
    }
    .main_news_image {
      display: flex;
      justify-content: center;
    }
    .main_block {
      max-width: 1300px;
      margin: auto;
    }