{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_class_news.css') }}">
<div>
    <h2 id="title_class">{{info_class.title_class}}</h2>
    <h3 id="teacher">{{info_class.teacher}}</h3>
</div>
<div>
    <div class="main_news_box">
        {% for item in main_news%}
            <div>
                <p class="main_content">{{item.content}}</p>
            </div>
            <div class="main_news_image">
                <img src="{{url_for('static', filename = item.photo ) }}" onerror="this.style.visibility = 'hidden'">
            </div>
        {% endfor %}
    </div>
    <div class="news_container">
        {% for item in news%}
            <div class="news_block">
                <h2>{{item.title}}</h2>
                <div class="content_block">
                    <p class="main_content">{{item.content}}</p>
                </div>
                <div class="photo_block">
                    <img src="{{url_for('static', filename = item.photo ) }}" onerror="this.style.visibility = 'hidden'">
                </div>
                <div>
                    <p>Дата написания - {{item.created_date}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}