{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_surveys.css') }}">
<h1>Прохождение опроса</h1>
{% for item in surveys%}
    <p>{{surveys.question}}</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.content1.label }} - {{item.answer1}}<br>
            {{ form.content1(class="form-control") }}<br>
            {% for error in form.content1.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.content2.label }} - {{item.answer2}}<br>
            {{ form.content2(class="form-control") }}<br>
            {% for error in form.content2.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.content3.label }} - {{item.answer3}}<br>
            {{ form.content3(class="form-control") }}<br>
            {% for error in form.content3.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.content4.label }} - {{item.answer4}}<br>
            {{ form.content4(class="form-control") }}<br>
            {% for error in form.content4.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
</form>
{% endfor %}
<div>
    <p>
        <a class="btn" href="/surveys"> Завершить </a>
    </p>
</div>
{% endblock %}