{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_surveys.css') }}">
<h2>Список опросов</h2>
<div>
    <p>
        <a class="btn" href="/makesurveys/0/0"> Создать опрос </a>
        <a class="btn" href="/mysurveys"> Ваши опросы </a>
    </p>
</div>
<div class="list_surveys">
    {% for item in surveys%}
        <div class="survey_container">
            <div>
                <a href={{url_for('do_surveys', id=item.id, id_question=1)}}>{{item.title}}</a>
            </div>
            <div class="user_name">
                <p>{{item.user_name}}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}